body,
h1,
h2,
h3,
p,
input,
button {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa;
}

.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.container img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #e0f7fa;
  background-color: #ffffff;
}

h1 {
  margin-top: 60px;
  color: #00796b;
  font-size: 24px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #b2dfdb;
  border-radius: 5px;
  font-size: 16px;
  background-color: #e0f7fa;
  color: #00796b;
}

button {
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#play-button {
  background-color: #afcf13;
  color: white;
}

#play-button:hover {
  background-color: #3d4f04;
}

#reset-button {
  background-color: #004d40;
  color: white;
}

#reset-button:hover {
  background-color: #f85837;
}

#result-area {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

#result-area.up {
  background-color: #81c784;
  color: white;
}

#result-area.down {
  background-color: #64b5f6;
  color: white;
}

#result-area.congrats {
  background-color: #4caf50;
  color: white;
}

#result-area.error {
  background-color: #e57373;
  color: white;
}

#chance-area {
  margin-top: 20px;
  font-size: 18px;
  color: #00796b;
}
